<img class="logo" src="/public/images/logo4.jpg" alt="logo" > 
  
  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="aboutUs" aria-expanded="false">About Us</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/ourStaff">Our Staff</a></li>
          </ul>
        </li>

        <li class="nav-item"><a class="nav-link" href="/enrolment">Enrolment</a></li>
        <li class="nav-item"><a class="nav-link" href="/news&events">News & Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/contactUs">Contact Us</a></li>
      </ul>
  
        <ul class="nav justify-content-end">
        <% if (userRole === 'admin') { %>
          <li class="nav-item"><a class="nav-link" href="/adminOnly">Admin Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        <% } %>
        </ul>
  
        <ul class="nav justify-content-end">
        <% if (userRole === 'teacher') { %>
          <li class="nav-item"><a class="nav-link" href="/teacherProfile">Teacher Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        <% } %>
        </ul>
  
        <ul class="nav justify-content-end">
       <% if (userRole === 'parent') { %>
          <li class="nav-item"><a class="nav-link" href="/parentProfile">Parent profile</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
      <% } %> 
      </ul>
  
      <ul class="nav justify-content-end">
        <% if (userRole === 'guest') { %>
          <li class="nav-item"><a class="nav-link" href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li class="nav-item"><a class="nav-link" href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% }  %>
      </ul>
  
    </div>
</nav>





