<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <div class="content">
    <h1>Admin Portal</h1>
    <h2>Admin Page</h2>
    <h3>Welcome to Little Steps Child Care Center of Children, dedicated to following the principles of New Zealand Child Care 
      Centers and implementing the Montessori method of education at a very high standard.</h3>

    <h3> Little Steps was begun in January 2010. We were located at 108, MacFarlane Street, 
      Hamilton East, Hamilton. Four years on, in September 2014 we moved to our very own premises, situated at 37, Ogilvie Avenue, Chartwell, Hamilton</h3>
    </div>

      <%- include('partials/footer.ejs') %>
  </body>
</html>