<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <div class="content">
    <h1>Admin Portal</h1>
    <h2>My Duties</h2>

    <div class="left-align-section">
      <ul><h3>
    
      <li ><a  href="/manageUser">User Register Approval & Delete Users</a> </li>
      <li><a href=#>Manage Pages -</a> </li>
      <ul>
        <li><a   href="/editHome">Manage Home Page</a></li>
        <li><a  href="/editAboutUs">Manage About Us Page</a> </li>
        <li><a href="/admin/enrolment">Manage Enrolment Fees</a> </li>
        <li><a href="/manageContactUs">Manage Contact Info</a> </li>
      </ul>
      
      <li><a href="/add_news_event">Add Events</a> </li>
      <li><a href="/add_gallery">Add Gallery Photos or Events Photos</a> </li>
      <li><a href="/addChildParentList">Pick Up & Drop Off Approval</a> </li>
      <li><a href="/admin/contactUs">Contact Form Data</a> </li>
      <li><a href="/admin/feedback">Feedback Form Data</a> </li>
    </h3></ul> 
</div>
    
    </div>

      <%- include('partials/footer.ejs') %>
  </body>
</html>