<html>
  <head>
    <%- include('partials/header1.ejs')%>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <br>
    <div class="login-container">
      <h2>Login</h2>
    
      <% if (typeof message !== 'undefined') { %>
        <div style="color: red; font-weight: bold;"><%= message %></div>
      <% } %>
      <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email" id="email" required>
        
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        
        <div>
          <input type="submit" value="Login">
        </div>
      </form>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>