<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
  <body>
    <%- include('partials/navbar1.ejs') %>
    <div class="content"> 
    News & Events
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>