<!DOCTYPE html>
<html>
<head>
  <%- include('partials/header1.ejs') %>
  <title></title>
</head>
<body>
  <%- include('partials/navbar1.ejs') %>
  <div class="content">
    <h1>Teacher Portal</h1>
    <h2>What you can do -</h2>
    <div class="left-align-section">
      <ul>
        <li>
          <a href="teacherProfile">Update My Profile</a>
        </li>
        <li>
          <a href="">Messages</a>
        </li>
        <ul>
          <li>
            <a href="teacherSendMsg">Compose Mail & History</a>
          </li>
          <li>
            <a href="teacherInbox">Inbox</a>
          </li>
        </ul>
        <li>
          <a href="childParentList">Pick Up & Drop Off List</a>
        </li>
        <li>
          <a href="updateKai">Update Kai</a>
        </li>
      </ul>
    </div>
  </div><%- include('partials/footer.ejs') %>
</body>
</html>